@font-face {
  font-family: bm;
  src: url("../font/BlackMango-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000 !important;
  background-image: url("../Images/stars-bg.png");
}

.background-image {
  /* background-image: url("https://i.imgur.com/YCxm4IJ.jpg"); */
  background-color: #000 !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  margin-top: 60px;
  text-align: center;
}

.wrapper h1 {
  margin-bottom: 1rem !important;
  font-size: 4rem;
  color: #00c1d4;
  /* color: white; */
  font-family: "bm";
}

.our_team {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.our_team .team_member {
  width: 300px;
  margin: 5px;
  background: #000;
  padding: 50px 10px;
}

.our_team .team_member .member_img {
  background: #000;
  max-width: 200px;
  width: 100%;
  height: 240px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

.our_team .team_member h2 {
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  margin: 15px 0 0px;
  color: #00c1d4;
}

.our_team .team_member .member_img .position {
  position: absolute;
  top: 5px;
  left: 5px;
  /* background: rgba(0, 0, 0, 0.65); */
  width: 95%;
  height: 95%;
  /* color: white; */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .wrapper h1 {
    font-size: 2rem;
  }
}
