@font-face {
  font-family: bm;
  src: url("../font/BlackMango-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  /* background-color: #000; */
  background-image: url("../Images/stars-bg.png");
}

h1 {
  color: #fff;
  /* position: fixed; */
  width: 100%;
  z-index: 100;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 4rem;
  font-family: "bm";
  color: #00c1d4;
}
.main-box {
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  justify-content: center;
}

.button-container {
  position: relative;
  width: 400px;
  height: 200px;
  /* margin-right: 30vh; */
  margin-top: 10rem;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 7rem;
}

.button-container button {
  width: 100%;
  height: 100%;
  font-family: "Monument Extended", sans-serif;
  font-size: 40px;
  background: #fff;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
  text-align: center;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
}
span.mask {
  margin-top: 50px;
}

.mask {
  position: relative;
  color: #fff;
  text-align: center;
  /* width: 10%; */
  font-family: "Monument Extended", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: auto;
  overflow: hidden;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.button-container2 {
  position: relative;
  width: 400px;
  height: 200px;

  margin-top: 10rem;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container2 button {
  width: 101%;
  height: 100%;
  font-family: "Monument Extended", sans-serif;
  font-size: 40px;
  background: #fff;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
  align-items: center;
}

.button-container2 button:hover {
  animation: anim1 0.7s steps(22) forwards;
}

.mask {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "Monument Extended", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  /* margin-top: 70px; */
  overflow: hidden;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@media (max-width: 768px) {
  .main-box {
    flex-direction: column;
  }
  .button-container {
    /* margin-left: 120vh; */
    width: 300px;
    height: 180px;
    margin: 0;
    margin-top: 2rem;
  }

  .button-container2 {
    /* margin-top: 8vh;
    margin-left: 90vh; */
    width: 300px;
    height: 180px;
    margin: 0;
    margin-top: 2rem;
  }
  .mask {
    font-size: 2rem;
  }
  .h1 {
    text-align: center;
    position: fixed;
    justify-content: center;
    justify-items: center;
    font-size: 0.6rem !important;
  }
}
