/* Globals */
@font-face {
  font-family: bm;
  src: url("../font/BlackMango-Black.otf");
}

body {
  font-family: "Inter", sans-serif;
  /* max-width: 55rem; */
  padding: 2rem 1.5rem;
  margin: 0 auto;
  color: #fff;
  background: #000;
  background-image: url("../Images/stars-bg.png");
}

h1 {
  font-weight: 900;
  font-size: 2.7rem;
  /* max-width: 20ch; */
  width: 100%;
  text-align: center !important;
  font-family: "bm";
  color: #00c1d4;
}

p {
  max-width: 60ch;
}

a {
  color: currentcolor;
}

/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 20rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
  --flow-space: 2em;
}

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  filter: opacity(0.7);
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.profile::before {
  transition: 300ms opacity linear;
}

.profile::after {
  background: linear-gradient(#000, #00c1d4);
  opacity: 0;
  transition: 300ms opacity linear;
}

.profile > * {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  /* filter: grayscale(1); */
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

li {
  list-style: none;
  margin: 1rem;
}
